@import '../../../../Styles/Sass/Variables';


.input-button-container-slack {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 50px;
}

.content-list {
  padding: 30px;
  border: 1px solid grey;
  width: 30%;
  min-height: 200px;
  margin: auto;
  border-radius: 10px;
}


.color-picker {
  margin: auto;
  margin-bottom: 20px;
}

//.li-item {
//  padding: 10px;
//}