@import "../../../../Styles/Sass/Variables";
@import "../../../../Styles/Sass/Functions";



.service-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0 0 450px;
  border:2px solid $green;
  width: 40%;
  padding: 25px 0;
}

.text-service {
  color: #6d5f5f;
  font-size: 25px;
}


.input-button-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}

.input-service {
  padding: 10px 25px 10px 10px;

  &::placeholder {
    color: grey;
    font-size: 15px;
  }
}

.item-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  max-width: 500px;
}


.li-container {
  position: relative;
  color: #5a5252;
  list-style-type: circle;
  font-size: 20px;
  border:1px solid $green;
  padding: 10px 50px 10px 10px;
  border-radius: 5px;
  margin-top: 10px;
  flex-wrap: wrap;
}


.icon-cross {
  font-size: 10px;
  color: #636363;
  cursor: pointer;
  position: absolute;
  top:7px;
  right:10px;
}

