@import '../../../Styles/Sass/Functions';
@import '../../../Styles/Sass/Variables';
@import '../../../Styles/Sass/Mixins-media';

body {
  margin: 0;
  padding: 0;
}

.container {
@include alignItems;
  padding: 28px 100px 0px 73px ;

  @include for-size(tablet) {
    padding: 18px 16px 0 0;
  }

  @include for-size(mobile) {
    padding: 14px 13px 0 0 ;
  }
}

.nav-links {
@include alignItems;
  font-family: $raleway;
}


.features {
  @include linksDecoration;

}

.pricing {
  @include linksDecoration;
}

.services {
  @include linksDecoration;
}

.partners {
  @include linksDecoration;
}

.sign-up {
    color: $white;
    background-color: $green;
    padding: 9px 25px;
    text-decoration: none;
    cursor: pointer;


  @include for-size(tablet) {
    font-size: 11px;
    width: 88px;
    padding: 9px 12px 9px 23px;
  }

  @include for-size(mobile) {
    padding: 6px 13px;
    font-size: 11px;
  }

}

.nav-icons {
  @include alignItems;
  align-items: center;
  cursor: pointer;
}


.image-nav-icon {
  @include for-size(tablet) {
    width:86px;
  }

  @include for-size(mobile) {
    width: 84px;
  }
}

.text-nav-icon {
  margin-left: -15px;

  @include for-size(tablet) {
    width:102px;
  }

  @include for-size(mobile) {
    width:102px;
  }

}





