@import "../../../../Styles/Sass/Functions";
@import "../../../../Styles/Sass/Variables";
@import "../../../../Styles/Sass/Mixins-media";
@import "../../../../Styles/Sass/Modal-functions";



.auth-container {
  position: fixed;
  top:20%;
  left: 30%;
  z-index: 3;
  height: 500px;
  width: 600px;
  background-color:$white;
  border-radius: 10px;
  box-shadow: $shadow;
  display: flex;
  flex-direction: column;
  align-items: center;
  border:3px solid $green;
}


.title-modal {
  font-family: $raleway;
  width: 200px;
  text-align: center;
  font-size: 20px;
  margin-top: 50px;
}


.input-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 50px 150px;
}

.input-name {
 @include input-name-surname;
}

.input-email {
  @include input-name-surname;
  margin-top: 30px;
  }


.sign-up-modal-btn {
  padding: 10px 20px;
  background-color: $green;
  border:none;
  color:$white;
  font-family: $raleway;
  cursor: pointer;
  font-size: 17px;
}

.close-the-modal {
  margin-top: 20px;
  border-radius: 5px;
  background-color: #e56767;
}

