@import '../../../Styles/Sass/Functions';
@import '../../../Styles/Sass/Variables';
@import '../../../Styles/Sass/Mixins-media';


.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 80px;
  margin-bottom:140px;

  @include for-size(tablet) {
    margin-top:51px;
    margin-bottom: 50px;
  }

  @include for-size(mobile) {
    margin-top: 50px;
    margin-bottom: 25px;
    flex-direction: column;
  }
}

.icon-container {
  display: flex;
  flex-direction: row;
}

.text-icon {
  width:121px;
  margin-top:10px;

  @include for-size(tablet) {
    width: 75px;
    margin-top: 6px;
  }

  @include for-size(mobile) {
    width: 75px;
    margin-top: 6px;
  }

}

.mess-icon {
  width: 92px;

  @include for-size(tablet) {
    width: 60px;
  }

  @include for-size(mobile) {
    width: 60px;
  }
}


.links-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 560px;

  @include for-size(tablet) {
    width: 430px;
  }

  @include for-size(mobile) {
    margin-top: 15px;
    width: unset;
    padding: 0px 17px;
  }

}

.links-column {
  display: flex;
  flex-direction: column;


   a {
    @include footer-links-decoration
  }

}