@import "./Variables.scss";
@import './Mixins-media';

//Navbar

@mixin alignItems {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

@mixin linksDecoration {
  text-decoration: none;
  margin-right: 20px;
  border-bottom: 4px solid $green;
  color:black;
  font-size: 17px;
  padding: 5px 10px;
  letter-spacing: $letterSpace;

  @include for-size(tablet) {
   font-size: 11px;
    margin-right: 16px;
}

  @include for-size(mobile) {
    display: none;
  }
}


//Header


@mixin alignHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin alignButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin name {
  font-size: 34px;
  font-family: $raleway;
  color:$white;
}

@mixin description {
  font-size:19px;
  color:$white;
  letter-spacing: $letterSpace;

}


@mixin name-positioning {
  position: absolute;
  bottom:20%;
  left:10%;
}

@mixin description-positioning {
  position: absolute;
  bottom:10%;
  left:10%;
}


//Footer

@mixin footer-links-decoration {
    text-decoration: none;
    letter-spacing: 0.1rem;
    color:black;
    font-weight: bold;
    margin-bottom: 10px;

    &:hover {
      text-decoration: underline;
    }

  @include for-size(tablet) {
    font-size: 12px;
  }

  @include for-size(mobile) {
    font-size:12px;
  }
}


@mixin footer-rights-text {
  margin-top: 31px;
  margin-bottom: 38px;
  font-size: 15px;
  font-family: $raleway;

  @include for-size(tablet) {
    font-size: 9px;
  }

  @include for-size(mobile) {
    font-size: 9px;
    width: 186px;
  }
}


//Pricing Page

@mixin input-style {
  width: 500px;
  padding: 10px;
  margin-top: 10px;

  &::placeholder {
    font-size: 15px;
    color: #a79a9a;
  }

}


//Features Page

@mixin card-style {
  display: flex;
  flex-direction: column;
  width: 200px;
  border-radius: 5px;
  background-color: $white;
  margin: 20px;
  padding: 20px;

}