
//Colors
$white: #FFFFFF;
$green: #4BA87D;



//Shadows
$shadow: 5px 10px 18px #dedede;
$cardShadow: 5px 10px 18px #b4b0b0;


//letterSpacing
$letterSpace: .1rem;

//Fonts-family

$raleway: 'Raleway', sans-serif;;
$playfair:'Playfair Display', serif;




