@import '../Styles/Sass/Variables';
@import '../Styles/Sass/Functions';
@import '../Styles/Sass/Mixins-media';


.modal-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: $white;
}


.close-btn {
  position: absolute;
  right:80px;
  bottom:-50px;
  padding: 11px 35px;
  border-radius:4px;
  border:none;
  background-color: $white;
  color:$green;
  font-family: $raleway;
  cursor: pointer;
  font-size: 17px;

  &:hover {
    background-color: $green;
    color:$white;
  }
}

.video {
  border-radius: 20px;
  width: 100%;
  height: 520px;
}