@import "../../Styles/Sass/Modal-functions";
@import "../../Styles/Sass/Variables";
@import "../../Styles/Sass/Functions";
@import "../../Styles/Sass/Mixins-media";


.btn {
  background-color: $green;
  color:$white;
  border:none;
  border-radius: 5px;
  padding: 7px 30px;
  text-align: center;
  margin-left: 15px;
  cursor: pointer;
  font-size: 18px;
  width: fit-content;
}

.btn.disabled {
  background-color: #bdb9b9;
}

.btn-close {
  background-color: #e56767;
  color:$white;
  border:none;
  border-radius: 5px;
  padding: 7px 30px;
  text-align: center;
  margin-left: 15px;
  cursor: pointer;
  font-size: 18px;
  width: fit-content;
}
