@import '../../../Styles/Sass/Functions';
@import '../../../Styles/Sass/Variables';
@import '../../../Styles/Sass/Mixins-media';



.footer-text-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  border-top: 2px solid #DBDBDB;
  margin-right: 176px;
  margin-left: 176px;

  @include for-size(tablet) {
    margin-right: 29px;
    margin-left: 29px;
  }

  @include for-size(mobile) {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 17px;
    margin-left: 17px;
  }
}

.text-1 {
  @include footer-rights-text;
  margin-bottom: 0;
}

.text-2 {
  @include footer-rights-text;
  margin-bottom: 0px;
}

.text-3 {
  @include footer-rights-text;
  @include for-size(mobile) {
    margin-top: 9px;
  }
}