@import "../../../../Styles/Sass/Variables";
@import "../../../../Styles/Sass/Functions";


.page-features-container{
  padding: 0px 90px;
}


.cards-container {
  margin-top: 100px;
  min-height: 300px;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 10px 25px;
}

.card {
  @include card-style

}



.image-card {
  width: 200px;
}

.description-card {
  font-size: 13px;
  margin-left: 5px;
}

.price {
  font-weight: bold;
  font-size:15px;
  margin-top: 20px;
  margin-left: 5px;
}


.sold {
  color: #9F9F9F;
  font-size: 12px;
  margin-left: 5px;
  margin-top: 5px;
}