@import '../../../../Styles/Sass/Variables';


.form-container {
  margin-top: 60px;
  margin-left: 50px;
}

.title-button-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.open-button {

}


.inputs-container-lecture{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: 20px;

}

.input-name-lecture {
  padding: 10px;
  margin-bottom: 10px;

}

.input-pages-lecture {
  padding: 10px;
  margin-bottom: 10px;
}

.input-email-lecture{
  padding: 10px;
}

.btn-close-open{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
}

::placeholder {
    color: grey;
    font-size: 15px;
}

.disabled {
  background-color: darkslategray;
}

.li-lecture-container {
  padding: 30px;
  width: 40%;
  border: 1px solid #3f553c;
  border-radius: 18px;
  margin:50px 15px 0 15px;
  position: relative;
}

.icon-li-lecture {
  position: absolute;
  top:10px;
  right: 15px;
  font-size: 15px;
  cursor: pointer;
  color:#e56767;
}

.icon-li-lecture-edit {
  position: absolute;
  top: 8px;
  right: 45px;
  cursor: pointer;
}


//Lecture-Item-Component

.styled-input-editing-pages {
  padding: 10px;
  width: 50%;
  border: 1px solid #dfdfdf;
  margin-left: 18px;
  margin-bottom: 15px;
}


.styled-input-editing-email {
  padding: 10px;
  width: 50%;
  border: 1px solid #dfdfdf;
  margin-left: 10px;
}



.edited {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5px;
  margin-top: 15px;
}

.edited-text {
  color:grey;
  margin-left:10px;
}

.edited-icon {
  color:grey;
}

.radio {
  position: absolute;
  top:10px;
  right: 80px;
}

.background {
  background-color: aquamarine;
}