@import '../../../Styles/Sass/Variables';
@import '../../../Styles/Sass/Functions';
@import '../../../Styles/Sass/Mixins-media';


.welcoming-container {
  @include alignHeader;
  padding: 66px 163px 0px 176px;

  @include for-size(tablet) {
    padding: 66px 19px 0 30px;
  }

  @include for-size(mobile) {
    padding: 43px 33px 0 20px;
    display: flex;
    flex-direction: column;

  }

}

.text-container {
  z-index: 1;
  margin-right: -100px;

  @include for-size(mobile) {
    margin-right: 0;
  }
}

.header-title {
  font-family: $playfair;
  font-size: 59px;
  width: 500px;

  @include for-size(tablet) {
    font-size: 38px;
    width: 350px;
  }

  @include for-size(mobile) {
    font-size: 36px;
    width: 284px;
  }
}

.header-description {
  margin-top: 23px;
  font-size:19px;
  width: 456px;
  letter-spacing: .1rem;

  @include  for-size(tablet) {
    font-size: 12px;
    width: 320px;
  }

  @include  for-size(mobile) {
    font-size: 14px;
    width: 350px;
    margin-top: 140px;
  }
}

.buttons-container {
  @include alignButtons;
  margin-top: 35px;

  @include  for-size(tablet) {
    margin-top: 25px;
  }

  @include for-size(mobile) {
    margin-top: 16px;
  }
}


.try-now-button {
  padding: 16px 47px 18px 48px;
  background-color: $green;
  color:$white;
  font-family: $raleway;
  letter-spacing: $letterSpace;

  @include  for-size(tablet) {
    padding: 13px 35px 14px 31px;
    font-size: 13px;
  }

  @include for-size(mobile) {
    padding: 13px 39px 12px 39px;
    font-size: 13px;
  }
}

.get-a-demo-button {
  padding: 15px 32px 17px 33px;
  background-color: $white;
  color:$green;
  font-family: $raleway;
  border: 2px solid $green;
  margin-left: 47px;
  letter-spacing: $letterSpace;

  @include  for-size(tablet) {
    padding: 11px 21px 11px 21px;
    border: 3px solid $green;
    margin-left: 29px;
    font-size: 13px;
  }

  @include for-size(mobile) {
    padding: 13px 27px 12px 27px;
    font-size: 13px;
    margin-left: 14px;
  }
}

.header-image {
  box-shadow: $shadow;

  @include for-size(tablet) {
    width: 472.06px;
  }

  @include for-size(mobile) {
    width: 95%;
    position:absolute;
    top:23.5%;
    left:2.5%;
  }

}

.header-container {
  position: relative;
}


.figures {
  z-index: -1;
  margin-top:-500px;
  margin-left: 225px;

}


.ellipse1 {
  position: absolute;
  top:8%;
  left:50%;
  z-index: -1;
  @include for-size(mobile) {
    display: none;
  }
}

.ellipse6 {
  position: absolute;
  top:0;
  left:1.5%;
  @include for-size(mobile) {
    display: none;
  }
}

.ellipse7 {
  position: absolute;
  top:7%;
  right: 5%;
  @include for-size(mobile) {
    display: none;
  }
}

.ellipse8 {
  position: absolute;
  bottom:35%;
  left:20%;
  @include for-size(mobile) {
    display: none;
  }
}

.ellipse9 {
  position: absolute;
  bottom:-7.5%;
  left:50%;
  @include for-size(mobile) {
    display: none;
  }
}


.rectangle1 {
  position: absolute;
  top:5%;
  left:20%;
  @include for-size(mobile) {
    display: none;
  }
}

.rectangle2 {
  position: absolute;
  bottom: -15%;
  left: 21%;
  @include for-size(mobile) {
    display: none;
  }
}

.rectangle3 {
  position: absolute;
  top: 9%;
  right: 19.5%;
  z-index: -1;
  @include for-size(mobile) {
    display: none;
  }
}

.rectangle9{
  position: absolute;
  top:5%;
  right: 30%;
  @include for-size(mobile) {
    display: none;
  }
}

.rectangle10{
position: absolute;
  top: 10%;
  left: 5%;
  @include for-size(mobile) {
    display: none;
  }
}



