@import '../../../Styles/Sass/Variables';
@import '../../../Styles/Sass/Functions';
@import '../../../Styles/Sass/Mixins-media';




.main-photo-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -100px;

  @include for-size(tablet) {
    padding: 0px 31px;
  }

  @include for-size(mobile) {

  }
}

.photo-container {
  @include alignItems;

  @include for-size(tablet) {
    align-self: normal;
  }

  @include for-size(mobile) {
    flex-direction: column;
  }
}

.frankie-container {
  margin-right: 32px;
  position: relative;

  @include for-size(tablet) {
    margin-right: 0;
  }

  @include for-size(mobile) {
    margin-right: 0;
    margin-bottom: 21px;
  }


  .frankie-name {
    @include name;
    @include name-positioning;

    @include for-size(tablet) {
      font-size: 22px;
    }

    @include for-size(mobile) {
      font-size: 22px;
    }
  }

  .frankie-description {
    @include description;
    @include description-positioning;

    @include for-size(tablet) {
      font-size: 12px;
    }

    @include for-size(mobile) {
      font-size: 12px;
    }
  }

}


.frankie-img {
  @include for-size(tablet) {
    width:223px;
  }

  @include for-size(mobile) {
    width: 223px;
  }
}


.camille-container {
  margin-right: 32px;
  position: relative;

  @include for-size(tablet) {
    margin-right: 0;
  }

  @include for-size(mobile) {
    margin-right: 0;
    margin-bottom: 21px;
  }

    .camille-name {
      @include name;
      @include name-positioning;

      @include for-size(tablet) {
        font-size: 22px;
      }

      @include for-size(mobile) {
        font-size: 22px;
      }

  }

  .camille-description {
    @include description;
    @include description-positioning;

    @include for-size(tablet) {
      font-size: 12px;
    }
    @include for-size(mobile) {
      font-size: 12px;
    }
  }

}


.camille-img {
  @include for-size(tablet) {
    width:223px;
  }
  @include for-size(mobile) {
    width: 223px;
  }
}


.elayne-container {
  position:relative;

   .elayne-name {
    @include name;
     @include name-positioning;

     @include for-size(tablet) {
       font-size: 22px;
     }

     @include for-size(mobile) {
       font-size: 22px;
     }
  }

  .elayne-description {
    @include description;
    @include description-positioning;


    @include for-size(tablet) {
      font-size: 12px;
    }
    @include for-size(mobile) {
      font-size: 12px;
    }
  }

}


.elayne-img {
  @include for-size(tablet) {
    width:223px;
  }

  @include for-size(mobile) {
    width: 223px;
  }
}

.title-reaching {
  font-family: $playfair;
  font-size: 44px;
  width: 904px;
  padding: 0 0 0 17px;
  margin-top:40px;
  text-align: center;

  @include for-size(tablet) {
    font-size: 28px;
    width: 591px;
  }
  @include for-size(mobile) {
    font-size: 26px;
    width: 239px;
    margin-top: 50px;
  }
}

.input-join-container {
 @include alignButtons;
  margin-top:50px;
  margin-bottom: 50px;

  @include for-size(mobile) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
  }
}


.input {
  padding: 19px 219px 21px 25px;
  border-radius: 5px;
  border:2px solid #9F9F9F;

  @include for-size(tablet) {
    padding: 12px 150px 15px 16px;
  }

  @include for-size(mobile) {
    padding: 13px 100px 14px 14px;
  }
}

::placeholder {
  color:black;
  letter-spacing: $letterSpace;
  font-size: 19px;

  @include for-size(tablet) {
    font-size: 13px;
  }

  @include for-size(mobile) {
    font-size: 13px;
  }
}

.button-join-our-list {
  padding: 19px 29px 21px 30px;
  background-color: $green;
  color:$white;
  font-family: $raleway;
  margin-left: 30px;
  cursor: pointer;

  @include for-size(tablet) {
    z-index: 1;
    padding: 13px 21px 14px 21px;
    font-size: 13px;
  }

  @include for-size(mobile) {
    padding: 13px 22px 14px 22px;
    font-size: 13px;
    margin-top:15px;
  }
}
