@import "../../../Styles/Sass/Functions";
@import "../../../Styles/Sass/Variables";
@import "../../../Styles/Sass/Mixins-media";




//Brands section

.brands-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;

  @include for-size(tablet) {
    margin-top: 50px;
  }

  @include for-size(mobile) {
    margin-top: 30px;
  }
}


.brands-title{
  font-size: 44px;
  font-family: $playfair;
  width: 396px;
  text-align: center;

  @include for-size(tablet) {
    font-size: 28px;
    width:322px;
  }

  @include for-size(mobile) {
    font-size: 26px;
    width:280px;
  }
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 146px;

  div {
    margin-right: 64px;

    @include for-size(tablet) {
      margin-right: 35px;
    }

    @include for-size(mobile) {
      margin-bottom: 10px;
    }
  }

  @include for-size(tablet) {
    margin-left: 25px;
  }

  @include for-size(mobile) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

  }

}

.logo-lastKnight {
  @include for-size(tablet) {
    width:104px;
  }
  @include for-size(mobile) {
    width: 104px;
  }
}

.logo-dragon {
  @include for-size(tablet) {
    width:55px;
  }
  @include for-size(mobile) {
  width: 55px;
  }
}

.logo-quest {
  @include for-size(tablet) {
    width:94px;
  }
  @include for-size(mobile) {
    width:94px;
    margin-top: 30px;
  }
}

.logo-radio {
  @include for-size(tablet) {
    width:92px;
  }
  @include for-size(mobile) {
    width:92px;
    margin-top: 30px;
  }
}

.logo-game {
  @include for-size(tablet) {
    width:91px;
  }
  @include for-size(mobile) {
    width:91px;
    margin-top: 30px;
  }
}


//Get started section


.get-started-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $green;
  height: 366px;

}


.get-started-title {
  font-family: $playfair;
  font-size: 60px;
  color:$white;

  @include for-size(tablet) {
    font-size: 42px;
  }

  @include for-size(mobile) {
    font-size: 42px;
    width: 259px;
    text-align: center;
  }
}

.pick-a-plan-button {
  font-family: $raleway;
  color:$green;
  font-size: 21px;
  padding: 19px 30px 21px 33px;
  width: 200px;
  background-color: $white;
  margin-top: 80px;
  text-align: center;
  cursor: pointer;

  @include for-size(tablet) {
    padding: 13px 23px 14px 23px;
    font-size: 13px;
    width: 85px;
    margin-top: 50px;
  }

  @include for-size(mobile) {
    font-size: 13px;
    width: 131px;
    padding: 13px 23px 14px 23px;
    margin-top: 50px;
  }

}

