@import '../../../Styles/Sass/Functions';
@import '../../../Styles/Sass/Variables';
@import '../../../Styles/Sass/Mixins-media';


.main-container {
  margin-top: 200px;
  padding: 80px 250px 34px;
  position: relative;


  @include for-size(tablet) {
    padding: 53px 76px 34px;
  }

  @include for-size(mobile) {
    padding: 0 10px 0 18px;
    margin-top: 50px;

  }


}

.text-button-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 520px;
  background-repeat: round;


  @include for-size(tablet) {
    width: 616px;
    height: 409.85px;
  }

  @include for-size(mobile) {
    width: 355px;
    height:200px;
  }

}

.text-main {
  color:$white;
  font-family: $playfair;
  font-size: 60px;
  margin-top: 10px;

  @include for-size(tablet) {
    font-size: 38px;
  }

  @include for-size(mobile) {
    font-size: 22px;
  }
}

.button-learn-how {
  padding: 19px 32px 21px;
  background-color: $white;
  color:$green;
  font-family: $raleway;
  letter-spacing: $letterSpace;
  margin-top: 65px;
  cursor: pointer;

  @include for-size(tablet) {
    margin-top: 42px;
    font-size: 13px;
    padding: 12px 24px 14px 24px;
  }

  @include for-size(mobile) {
    margin-top: 25px;
    padding: 7px 13px;
    font-size: 6px;
  }

}




//Main container people cards

.people-main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
  padding: 0 50px 0 100px;

  @include for-size(tablet) {
    padding: 50px 31px;
    margin-top: -40px;

  }

  @include for-size(mobile) {
    display: flex;
    flex-direction: column;
  }
}

.card1 {
  background-color: white;
  height: 450px;
  box-shadow: $cardShadow;
  z-index:1;

  @include for-size(tablet) {
    height: 330px;
  }

  @include for-size(mobile) {
    height: 340px;
    width:209px;
    margin-left: -83px;
  }

}

.img-main-girl {
  @include for-size(tablet) {
    width: 209px;
  }

  @include for-size(mobile) {
    width: 209px;
  }


}

.card-text-1 {
  width: 250px;
  padding: 24px 39px 10px 30px;
  font-size: 16px;
  letter-spacing: $letterSpace;

  @include for-size(tablet) {
    font-size: 12px;
    width: 164px;
    padding: 17px 8px 10px 8px;
  }

  @include for-size(mobile) {
    font-size: 12px;
    width: 164px;
    padding: 17px 25px 10px 20px;
  }
}

.button-learn-more-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  color:$green;
  font-family: $raleway;
  padding: 0 30px;
  cursor: pointer;

  @include for-size(tablet) {
    font-size: 12px;
  }

  @include for-size(mobile) {
    font-size: 12px;
    padding:0 20px ;
  }
}


.card2 {
  background-color: white;
  height: 450px;
  box-shadow: $cardShadow;
  margin-top: 81px;
  z-index:1;

  @include for-size(tablet) {
    height: 315px;
  }

  @include for-size(mobile) {
    height: 320px;
    width:209px;
    margin-top: 20px;
    margin-left: 80px;
  }

}


.card-text-2 {
  width: 250px;
  padding: 24px 39px 10px 30px;
  font-size: 16px;
  letter-spacing: $letterSpace;

  @include for-size(tablet) {
    font-size: 12px;
    width: 170px;
    padding:16px 19px 0 20px ;
  }

  @include for-size(mobile) {
    font-size: 12px;
    width: 170px;
    padding:16px 19px 0 20px ;
  }
}


.img-main-group {
  @include for-size(tablet) {
    width: 209px;
  }

  @include for-size(mobile) {
    width: 209px;
    padding: 0;
  }
}


.button-learn-more-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  color:$green;
  font-family: $raleway;
  padding: 0 30px;
  cursor: pointer;

  @include for-size(tablet) {
    font-size: 12px;
    padding:0 20px;
  }

  @include for-size(mobile) {
    font-size: 12px;
    padding: 5px 20px;
  }

}

.arrow-icon {
  font-size: 2rem;
  margin-top: 5px;

  @include for-size(tablet){
    font-size: 1rem;
  }

  @include for-size(mobile){
    font-size: 1rem;
  }
}


.cards-description {
  margin-top: 170px;
  z-index:1;

  @include for-size(mobile) {
    margin-top: 20px;
    margin-left: -10px;
  }
}

.title {
  width: 365px;
  font-size: 44px;
  font-family: $playfair;

  @include for-size(tablet) {
    font-size: 28px;
    width: 232px;
  }

  @include for-size(mobile) {
    font-size: 28px;
    width: 232px;
  }
}

.description {
  width: 322px;
  letter-spacing: $letterSpace;
  margin-top: 24px;
  font-size: 19px;

  @include for-size(tablet) {
    font-size:12px;
    width: 203px;
  }

  @include for-size(mobile) {
    font-size: 12px;
    width: 203px;
    margin-top: 17px;

  }

}


.green-bg-image {
  width: 100%;
  z-index: 10;
  margin-top: -940px;

  @include for-size(tablet) {
    height: 780px;
    margin-top: -650px;
  }

  @include for-size(mobile) {
    height: 1000px;
    margin-top: -800px;
  }
}

.lines {
  position: absolute;
  right: 0;
  margin-top: -500px;
}

