@import "../../../../Styles/Sass/Functions";
@import "../../../../Styles/Sass/Variables";
@import "../../../../Styles/Sass/Mixins-media";



.job-container {
  margin-left:20px;
  margin-top: 100px;
  width: 100%;

}

.title-job {
  font-family: $raleway;
  margin-left: 25px;
  color:$green;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  padding: 20px;

}


.input-studies {
  @include input-style;
}

.input-age {
  @include input-style;

}

.input-salary {
  @include input-style;

}


.get-information-container {
  background-color: $white;
  border:2px solid $green;
  width: 30%;
  margin-left:35px;
  margin-right: 20px;
  margin-top: 50px;
  height: 250px;
}

.title-job-available {
  color: #767272;
  font-size: 20px;
  margin-left: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
}


.get-info-container {
  margin-left: 20px;
  border-radius: 5px;
  min-height: 200px;
  border:1px solid $green;
  width: 30%;
  margin-top: 70px;
}


.li-job-container {
  padding: 30px;
  margin-bottom:10px;
  border-bottom: 1px solid #9F9F9F;
  margin-right: 15px;
  margin-left: 15px;
  position: relative;
}

.li-studies {
  font-size: 18px;
  color: #5f5858;
  margin-bottom: 5px;
}

.li-age {
  font-size: 18px;
  color: #5f5858;
  margin-bottom: 5px;
}

.li-salary {
  font-size: 18px;
  color: #5f5858;
  margin-bottom: 5px;
}


.close-icon {
  color: #505050;
  font-size: 12px;
  position: absolute;
  bottom:10px;
  right: 10px;
  cursor: pointer;
}